footer {
  background-image: url(../img/home-banner.jpg);
  background-position: center;
  background-size: cover;

  background-repeat: no-repeat;
  align-self: center;
  justify-content: center;
  padding: 100px;
}

.footerImgWrapper {
  text-align: center;
}

.footerIconWrapper {
  text-align: center;
}
.footerIconWrapper i {
  margin: 20px;
  transition: width 2s;
}

.footerIconWrapper i:hover {
  color: lightgreen;
}

.credits {
  margin: auto;
  text-align: center;
  margin-top: 30px;
}

.footerParagraph {
  color: #fff;
  line-height: 2rem;
}
